@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.bg-gradient-header {
  background: linear-gradient(to right, #0f172a 50%, #ee3131 50%);
}
.bg-gradient-testimonial {
  background: linear-gradient(to right, #0f172a 50%, #f1f5f9 50%);
}
.header-shape {
  transform: rotate(20deg);

  right: 0;
}
.stoke-number {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #cbd5e1;
}

.signInUp-input {
  @apply w-full border-b border-slate-300 py-2 transition-all  focus:transition-all text-lg focus:border-primary outline-none;
}
.socialLogin {
  @apply flex gap-2 px-5 py-2  rounded-lg font-semibold items-center justify-center;
}
